In [ ]:
#Types of Collections
#Tuples, Lists, Dictionaries, Sets

In [ ]:
my_list = ['hey', 'there', 'bobby']
print(my_list[0])
print(my_list[0,2]) #first two names
print(my_list[::-1]) #reverse list

In [ ]:
my_set = {1, 2, 3, 4, 4} #NO DUPLICATES
print(my_set)

string1 = "this and this and and this"
string_set = {}
print(set(string1.split()))

In [ ]:
#List methods
another_list = []
for i in range(10):
    another_list.append(i) #append adds to the end of the list

print(another_list)
x= another_list.pop() # pop takes off the end of the list
print(another_list, x)

In [ ]:
list3 = [1, 2, 3, 4, 5]
list3[2] = 10
print(list3)

list3.remove(10)
print(list3)

list3.insert(2, 10) # at index 2 insert 10
print(list3)

print(10 in list3)

In [ ]:
list4 = [6, 7, 8, 9]
print(list3 + list4)

In [ ]:
for i in range(len(list3)):
    print(i)

for i, elem in enumerate(list3):
    print(i, elem)

In [ ]:
names = ['justin', 'aaron', 'alex']
cap_names = [name.upper() for name in names]
print(names)
print(cap_names)

e_names = [names for name in names if 'e' in name]
print(e_names)

In [ ]:
#Sorting
list3.sort()
print(list3)
print(sorted(list3))

list3.sort(reverse=True)
print(list3)

In [ ]:
#DICTIONARY

dict1 = {
    "name" : "Justin",
    "age" : "Classified"
}
print(dict1)

#Iterating through a  dictionary
for k, v in dict1.itmes():
    print(k, v)

for key in dict1.keys():
    print(key)

for value in dict1.values():
    print(value)

In [ ]:
dict2 = {
    "Person1":
    {
        "name" : "Justin",
        "age" : "na"
    },
    "Person2":
    {
        "name" : "steve",
        "age" : "na"
    }
}

for k, v in dict2.items():
    print(k, v)

In [ ]:
dict2["Pearson"]["cloud"] = "azure"

In [ ]:
#Tuples
#are indexable and immutable
#great for giving pairs of data (coordinates)

my_tuple = ("Justin", "lee")
print(my_tuple)

my_tuple[0] = 15